#logoMel {
  display: block;        /* évite les comportements inline */
  margin-top: 200px;      /* espace avec la navbar */
  margin-left: 20px;     /* optionnel */
  max-height: 80px;      /* optionnel : taille contrôlée */
}
