#logoMel {
  display: block;        /* évite les comportements inline */
  margin-top: 200px;      /* espace avec la navbar */
  margin-left: 20px;     /* optionnel */
  max-height: 80px;      /* optionnel : taille contrôlée */
}

.app-root {
  min-height: 100vh;
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
