@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&display=swap');

* {
    font-family: 'Lato';
}

html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
